---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 144
SortIncludes: true
AlignOperands: true
PointerAlignment: Left
AccessModifierOffset: -4
NamespaceIndentation: All
SpacesBeforeTrailingComments: 1
AlignConsecutiveAssignments: true
AllowShortLoopsOnASingleLine: true
AlignConsecutiveAssignments: None
AllowShortBlocksOnASingleLine: true
EmptyLineBeforeAccessModifier: Never
SpaceBeforeAssignmentOperators: true
AllowShortFunctionsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse